@font-face {
   font-family: '刘梦吟书法行楷';
   font-display: swap;
   src: url('file:///Users/laoke/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2021-09-29_210728/fonts/%E5%88%98%E6%A2%A6%E5%90%9F%E4%B9%A6%E6%B3%95%E8%A1%8C%E6%A5%B7/font.ttf');
}
